# ElementaryDigital mymagento-magento-sync 2 .gitignore

# IntelliJ project files
.idea
*.iml
.DS_Store

# mymagento-magento-sync files
/mymymagento-magento-sync-mymagento-magento-sync-sync/var/session/*
/mymagento-magento-sync/node_modules/
/mymagento-magento-sync/vendor/
/mymagento-magento-sync/var/
/mymagento-magento-sync/wp/
/mymagento-magento-sync/.htaccess
/mymagento-magento-sync/.htaccess.sample
/mymagento-magento-sync/.php_cs
/mymagento-magento-sync/.php_cs.dist
/mymagento-magento-sync/.travis.yml
/mymagento-magento-sync/.user.ini
/mymagento-magento-sync/.github/
/mymagento-magento-sync/auth.json.sample
/mymagento-magento-sync/CHANGELOG.md
/mymagento-magento-sync/CONTRIBUTING.md
/mymagento-magento-sync/COPYING.txt
/mymagento-magento-sync/grunt-config.json.sample
/mymagento-magento-sync/Gruntfile.js
/mymagento-magento-sync/Gruntfile.js.sample
/mymagento-magento-sync/index.php
/mymagento-magento-sync/ISSUE_TEMPLATE.md
/mymagento-magento-sync/LICENSE.txt
/mymagento-magento-sync/LICENSE_AFL.txt
/mymagento-magento-sync/nginx.conf.sample
/mymagento-magento-sync/package.json
/mymagento-magento-sync/package.json.sample
/mymagento-magento-sync/package-lock.json
/mymagento-magento-sync/php.ini.sample
/mymagento-magento-sync/PULL_REQUEST_TEMPLATE.md
/mymagento-magento-sync/app/.htaccess
/mymagento-magento-sync/app/autoload.php
/mymagento-magento-sync/app/bootstrap.php
/mymagento-magento-sync/app/etc/di.xml
/mymagento-magento-sync/app/etc/NonComposerComponentRegistration.php
/mymagento-magento-sync/app/etc/vendor_path.php
/mymagento-magento-sync/app/functions.php
/mymagento-magento-sync/bin/
/mymagento-magento-sync/dev/
/mymagento-magento-sync/generated/
/mymagento-magento-sync/lib/.htaccess
/mymagento-magento-sync/lib/internal/LinLibertineFont/
/mymagento-magento-sync/lib/internal/GnuFreeFont/
/mymagento-magento-sync/lib/web/
/mymagento-magento-sync/phpserver/
/mymagento-magento-sync/pub/.htaccess
/mymagento-magento-sync/pub/.user.ini
/mymagento-magento-sync/pub/cron.php
/mymagento-magento-sync/pub/get.php
/mymagento-magento-sync/pub/health_check.php
/mymagento-magento-sync/pub/index.php
/mymagento-magento-sync/pub/static.php
/mymagento-magento-sync/pub/errors/.htaccess
/mymagento-magento-sync/pub/errors/404.php
/mymagento-magento-sync/pub/errors/503.php
/mymagento-magento-sync/pub/errors/default/
/mymagento-magento-sync/pub/errors/design.xml
/mymagento-magento-sync/pub/errors/local.xml.sample
/mymagento-magento-sync/pub/errors/noCache.php
/mymagento-magento-sync/pub/errors/processor.php
/mymagento-magento-sync/pub/errors/processorFactory.php
/mymagento-magento-sync/pub/errors/report.php
/mymagento-magento-sync/pub/opt/
/mymagento-magento-sync/pub/media/
/mymagento-magento-sync/pub/static/
/mymagento-magento-sync/setup/
/mymagento-magento-sync/sitemap/
/mymagento-magento-sync/update/
/mymagento-magento-sync/var/.htaccess
/mymagento-magento-sync/var/.regenerate
/mymagento-magento-sync/var/.setup_cronjob_status
/mymagento-magento-sync/var/.update_cronjob_status
/mymagento-magento-sync/var/cache/
/mymagento-magento-sync/var/generation/
/mymagento-magento-sync/var/page_cache/
/mymagento-magento-sync/var/view_preprocessed/
/mymagento-magento-sync/var/di/
/mymagento-magento-sync/var/log/
/mymagento-magento-sync/var/catalog*.csv
/mymagento-magento-sync/var/importexport*
!/mymagento-magento-sync/composer.lock
.php_cs.cache

# Dev project files
/mymagento-magento-sync/phpinfo.php
/dev/
/dev/Sozo/*
/dev-scripts
/environments/local
/logs/
/tmp/
/*.log
/capistrano.log.0
/.env.*
!/.env.sample
/Gemfile.lock
!/dev/composerTidy.js

/backups/